body {
    position: relative;
    width: 1280px;
    height: 1626px;

    background: #FFFFFF;
}

.header-box {
    position: absolute;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}
.header-box :hover{
    cursor: pointer;
}
.home :hover {
    margin-top: 30px;
    transition: 0.5s;
}
.photoapp :hover {
    margin-top: 30px;
    transition: 0.5s;
}
.design :hover {
    margin-top: 30px;
    transition: 0.5s;
} 
.dowload :hover {
    margin-top: 30px;
    transition: 0.5s;
}
a {
    color: red;
    text-decoration: none;
}

.home {
    position: absolute;
    width: 68px;
    height: 27px;
    left: 0px;
    top: -6px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
    color: #FF0000;

 }
 .photoapp {
    position: absolute;
    width: 131px;
    height: 27px;
    left: 140px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

 .design {
    position: absolute;
    width: 87px;
    height: 27px;
    left: 343px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;

}
 .dowload {
    position: absolute;
    width: 140px;
    height: 27px;
    left: 480px;
    top: -6px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    /* or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}

.graficlogo {
    position: absolute;
    width: 1280px;
    height: 789px;
    left: 0px;
    top: 78px;
    
    background: url(image.png);

}

main {
    position: absolute;
    width: 1280px;
    height: 650px;
    left: calc(50% - 1280px/2);
    bottom: 108px;
}

div h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    position: absolute;
    width: 774px;
    height: 29px;
    left: 253px;
    top: 48px;
    color: #373737;

}

.Lorem-p {

    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    text-align: center;
    letter-spacing: 2.4px;
    
    color: #373737;
}
p {
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
}

button {
    position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;

    background: #FF0000;
    border-radius: 4px;
    }
.button-p {
    position: absolute;
    width: 105px;
    height: 16px;
    left: 587px;
    top: 565px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    /* or 100% */
    display: flex;
    align-items: center;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}

button:hover {
    background: #373737;
    transition: 0.5s;
}
a {
    color: red;
    text-decoration: none;
}
footer {
    position: absolute;
    width: 1070px;
    height: 39px;
    right: 105px;
    bottom: 29px;
}
.footer-ctrong{
    position: absolute;
    width: 462px;
    height: 39px;
    left: 608px;
    top: 0px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}